# Node
node_modules/*
npm-debug.log

# TypeScript
*.js
*.map
*.d.ts

# Test
!test/**/*.js

# JetBrains
.idea
.project
.settings
.idea/*
*.iml

# Config
!webpack.config.js

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store
**/.DS_Store
