# Node
node_modules/*
npm-debug.log
.npmrc

# Typescript
*.ts
!*.d.ts

# Webpack
webpack.config.js

# JetBrains
.idea
.project
.settings
.idea/*
*.iml

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store
**/.DS_Store
